# <center> Covid-19 Analysis (Quantitative Modelling)

## >> Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math

## >> Micro-task 1. Intro to Quantitative Modelling

In [2]:
answer = 'proportionate'
print('\nAssociated with Spread of Pandemic :- ' + answer)

Associated with Spread of Pandemic :- proportionate

## >> Micro-task 2. Mathematical Function

In [3]:
function = 'Exponential (y = e^(m*x))'
print('\nFunction Used to Model the Spread :- ' + function)

Function Used to Model the Spread :- Exponential (y = e^(m*x))

## >> Micro-task 3. Data Collection & Visualization

In [4]:
df = pd.read_csv('covid19.csv')
df.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0

In [5]:
df = pd.read_csv('covid19.csv' , usecols = [1,3,4,5,6]).groupby(by = 'Date').sum()
df['Total_cases'] = df.sum(axis = 1)

In [6]:
df.loc[['04/03/20'],['Total_cases']]

          Total_cases
Date
04/03/20           31

## >> Micro-task 4. Model Solution

In [7]:
df.head()

,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Total_cases
Date,,,,,
01/02/20,2,0,0,0,2
01/03/20,3,0,0,0,3
02/02/20,3,0,0,0,3
02/03/20,5,0,0,0,5
03/02/20,3,0,0,0,3

In [8]:
df = pd.DataFrame(df['Total_cases'])
df['Difference'] = df.diff(-1).abs()
df['Rate'] = df['Difference'] / df['Total_cases']

In [9]:
df.head()

          Total_cases  Difference      Rate
Date
01/02/20            2         1.0  0.500000
01/03/20            3         0.0  0.000000
02/02/20            3         2.0  0.666667
02/03/20            5         2.0  0.400000
03/02/20            3         6.0  2.000000

In [10]:
r = df['Rate'].mean()

In [11]:
r

12.766402812254537

In [12]:
P_o = 31
t = 26
P_t = P_o * (math.exp(r * t))

print('\nModel Solution :- ' , round(P_t,2))

Model Solution :-  4.417711664082344e+145